<div class="jumbotron" style="display:inline-table; ">
    <h4>This section calling using PartialView</h4>
    <ol>
        <li>I used one to many relationship between Employee and Designation Tabel</li>
        <li>Used Model Curud in Employee and Designation</li>
        <li>Used ViewModel Curud in EmployeeRegistration(using date picture)</li>
        <li>Used Ajax Curud in Shift</li>
        <li>Use Custom Attribute and data annotation on Employee,Designation,EmployeeRegistration and Shift Model</li>
        <li>Use Partial View on home page and Product page</li>
    </ol>
</div>