@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="display:contents">
    <h2>Welcome To Payroll Management System</h2>
    <p class="lead">In this project i take a database is EveFinalDb have 4 table .</p>
    <p></p>
</div>

<div class="row">
    @Html.Partial("ProjectInfo")
</div>
